body {
    font-family: "Open Sans", sans-serif;
    background-color: #1b242b;
    /*background-color: #a8aeba;*/
}

h6 {
    margin-top: 0;
}

.app__container {
    margin: 3% 5%;
}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.app__header__title {
    letter-spacing: 0.23rem;
}

.app__header__title--grey {
    color: #C4CDD5;
}

.app__menu__img {
    height: 60px;
    width: auto;
}

.app__content {
    display: flex;
    margin-top: 20px;
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 0px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.graph__title2 {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 16px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.box__title {
    font-family: "Open Sans", Times, serif !important;
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 5px 0px 0px 25px;
    margin-bottom: -20px !important;
    font-size: 1em;
}
.info_box {
    color: #fff !important;
    letter-spacing: 0.1rem !important;
    padding: 25px 25px 0px 25px;
    margin-bottom: -15px !important;
    font-size: 12px;
    font-family: "sans-serif" !important;
}
.__footer {
    color: #9d9d9d !important;
    /*letter-spacing: 0.1rem !important;*/
    /*padding: 25px 25px 0px 25px;*/
    /*margin-bottom: -15px !important;*/
    font-size: 12px;
    font-family: "sans-serif" !important;
}
.slider {
    padding: 15px;
}

.auto__checkbox {
    margin-right: 10px;
}

.auto__label {
    color: #DFE3E8;
}

.auto__container {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
    padding: 0px 15px;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    background-color: #40515e;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.info__container {
    background-color: #5d6d95;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.first {
    margin-bottom: 15px;
}

.second {
    margin-top: 15px;
}


@media only screen and (max-width: 600px) {

    .app__content {
        display: block;
    }
    .app__menu__img {
        height: 30px;
        width: auto;
    }
    .app__header {
        display: flex;
        flex-direction: column;
    }
    .app__header__desc {
        order: 1;
        text-align: center;
    }
    .app__header__logo {
        order: 0;
    }
    .app__header__title {
        font-size: 1.5em;
        padding-top: 15px;
    }
}

.export{
    position: absolute;
    left: 1%;
    font-type: sans-serif;
    color: white;
}

/*div.Select–single>.Select-control .Select-value,*/
.Select-placeholder {
    color: #363333;
    /*background: #394046;*/
    #background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    left: 0;
    line-height: 20px;
    padding-left: 14px;
    padding-right: 10px;
    padding-top:5px;
    right: 0;
    top: 0px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    align-items: center;
}

/*#graph-layout-dropdown .VirtualizedSelectFocusedOption {*/
/*    background-color: #909898;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding-bottom:20px;*/
/*    left: 0;*/
/*}*/

#graph-layout-dropdown .Select-value {
    background-color: #909898;
    position: absolute;
    color: white;
    padding-bottom:10px;
    padding-top:10px;
    left: 0;
}

@for $i from 1 through 11
    #{dropdown-1}_#{$i} .Select-value {
        background-color: deepskyblue;
        color: white;
        left: 0;
        padding-bottom:20px;
        line-height: 20px;
        padding-left: 0px;
          /*padding-right: 0px;*/
          /*padding-top: 0px;*/
          /*right: 0;*/
          /*top: -5px;*/
        max-width: 100%;
        position: center;
    }

    #{dropdown-1}_#{$i} .Select-placeholder {
        color: white;
        /*background: #394046;*/
         #background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
         left: 0;
         line-height: 20px;
         padding-left: 14px;
         padding-right: 10px;
         padding-bottom:10px;
         right: 0;
         top: -5px;
         max-width: 100%;
         overflow: hidden;
         text-overflow: ellipsis;
         position: absolute;
    }

.Select--single>.Select-control .Select-value, .Select-placeholder
{
    line-height: 20px;
}