:root {
/*    --CLR_BCKGRND: #1e252f*/
    /*--CLR_BCKGRND: #364b54*/
    --CLR_BCKGRND: #1b242b /*CLR BACKGROUND BLACK*/

}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--CLR_BCKGRND);
}

h6 {margin-top: 0;}

.app__container {margin: 2% 2% 2% 2%;}

.app__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.app__header__title {letter-spacing: 0.23rem;}

.app__header__title--grey {color: #C4CDD5;}

.app__menu__img {height: 60px; width: auto;}

.app__content {display: flex; margin-top: 10px;}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 0px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.graph__title2 {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 16px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
    font-family: "sans-serif";
}


.info__container {
    background-color: #40515E; /*#5d6d95;*/
    border-radius: 0.55rem;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.info_box {
    color: #fff !important;
    letter-spacing: 0.1rem !important;
    padding: 5px 15px 5px 15px;
    height: 5%;
    display: inline-block;
    margin-bottom: 0px !important;
    font-size: 12px;
    font-family:  "Open Sans", Times, serif !important;
}

.box__title {
    font-family: "Open Sans", Times, serif !important;
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 15px 15px 5px 15px;
    margin-bottom: -10px !important;
    font-size: 1em;
}

.__footer {
    color: #9d9d9d !important;
    /*letter-spacing: 0.1rem !important;*/
    /*padding: 25px 25px 0px 25px;*/
    /*margin-bottom: -15px !important;*/
    font-size: 12px;
    font-family: "sans-serif" !important;
}
.slider {padding: 15px;}

.auto__checkbox {margin-right: 10px;}

.auto__label {color: #DFE3E8;}

.auto__container {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
    padding: 0px 15px;
}

.auto__p {margin-bottom: 0;}

.graph__container {
    background-color: #bacedd; /* #87a5bb */
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.data__container {
    background-color: #40515e;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.first {margin-bottom: 15px;}

.second {margin-top: 15px;}


@media only screen and (max-width: 600px) {

    .app__content {display: block;}
    .app__menu__img { height: 20px; width: auto; }
    .app__header { display: flex; flex-direction: column;padding-top: 0px;  }
    .app__header__desc { order: 1; text-align: left; }
    .app__header__logo {order: 0;}
    .app__header__title { font-size: 1.5em; padding-top: 11px; }
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 0px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 10px;
}


.export{
    position: absolute;
    left: 1%;
    font-type: sans-serif;
    color: #ffffff;
}

/*div.Select–single>.Select-control .Select-value,*/
.Select-placeholder {
    color: #363333;
    /*background: #394046;*/
    #background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    left: 0;
    line-height: 20px;
    padding-left: 14px;
    padding-right: 10px;
    padding-top:5px;
    right: 0;
    top: 0px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    align-items: center;
}

/*#graph-layout-dropdown .VirtualizedSelectFocusedOption {*/
/*    background-color: #909898;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding-bottom:20px;*/
/*    left: 0;*/
/*}*/


#graph-layout-dropdown .Select-value {
    background-color: #808484;
    position: absolute;
    color: white;
    padding-bottom:10px;
    padding-top:10px;
    left: 0;
}

.Select-arrow { --accent: #1b58e2; }


#node-size-dropdown .Select-value {
    background-color: #808484;
    position: absolute !important;
    color: white;
    padding-bottom:10px !important;
    padding-top:10px !important;
    left: 0 !important;
}

#node-color-dropdown .Select-value {
    background-color: #4c5353;  /*#808484;*/
    position: absolute;
    color: white;
    padding-bottom:10px;
    padding-top:10px;
    left: 0;
}

.tapEdgeData-fig-class {

    /*padding-bottom:10px;*/
    /*padding-top:20px;*/
}


.Select--single>.Select-control .Select-value, .Select-placeholder
{
    line-height: 17px;
    background: #95a5a6;
}

.wrapper {
        border: 2px dotted rgb(96, 139, 168);
        width: 500px;
      }
    .box {

        /*display: flex;*/
        flex-wrap: wrap;
        margin:-5px;
      }
      .box>* {
        flex: 1 1 160px;
        margin: 10px;
      }



.selectbox {
-webkit-appearance: none;
position: relative;
display: inline-block;
*display: inline;
zoom: 1;
margin-right: 20px;
color:white;
right:10;
border:none;
/*border: 1px solid #cccccc;*/
/*background: none  repeat scroll 0 0 #ffffff;*/
background: none;
min-width: 60px;
max-width:100px;
width: auto;

}

.selectbox .Select-arrow { --accent: black;
                            --background-image: linear-gradient(#3d912a, #3A3F44 60%, #313539);
}


.selectbox select {
z-index: 10;
position: relative;
border: none;
background: none;
outline: none;
opacity: 0;
height: 27px;
-webkit-appearance: none;
filter: alpha(opacity=0);
width: 100%;
cursor: pointer;

}



img:hover {
    background-color: #867270; /*inverse of #798d8f*/
    border-radius: 10px;
    filter: invert();
}


.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

#league_table .export{
    position: absolute;
    top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    line-height: 1.3;
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
    font-size: 11px;
    font-type: sans-serif;
    font-weight: 900;
    [...]
}


#datatable-upload-container .export{
    position: absolute;
    bottom: 0px;
    margin-left: 5px;
    margin-top: 3px;
    line-height: 1.3;
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
    font-size: 10px;
    font-type: sans-serif;
    font-weight: 800;
    [...]
}

#dd_nclr_input .dropdown-menu {
:not(.dropdown-item)
}


.rc-slider-track {
  background-color: #7e95cc;
}

.rc-slider-dot-active {
  border-color: #1a5dae;
  border: solid 2px #7e95cc;
  background-color: #7e95cc;

}
.rc-slider-handle {
  background-color: #7e95cc;
  border-color: #751226;
}
.rc-slider-handle:hover {
  border-color: #96dbfa;
}
.rc-slider-handle-active:active {
    border-color: #7e95cc;
}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #060505;
  text-align: center;
  text-decoration: none;
  background-color: #e1e0e0;
  border-radius: 6px;
  box-shadow: 0 0 0px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #e1e0e0;
}

/*.modal-footer {*/
/*        display: block;*/
/*        -webkit-box-pack: inherit;*/
/*        -webkit-justify-content: inherit;*/
/*        -ms-flex-pack: inherit;*/
/*        justify-content: inherit;*/
/*    }*/
    .btn-export {
        float: left;
        -webkit-justify-content: left;
        justify-content: left;
    }



/* FOR NAVBAR */
@media (min-width:1200px){
    .container,.container-lg,.container-md,.container-sm,
    .container-xl{max-width:1240px; margin-top:1%}}
.row{
    /*display:-ms-flexbox;
    display:flex;*/
     display: inline-flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap; padding-top:5px;
 }

@media (prefers-reduced-motion:reduce){
.custom-control-label::before,
.custom-file-label,.custom-select{transition:none}}

.navbar{display: flex;
        align-items: center;width: 100%;
        justify-content: space-between;
}

.navbar .navbar-nav{
            display:flex;
            -ms-flex-direction:column;
            flex-direction:column;
            list-style:none;
            float:right;
            margin-left:50%}

.navbar-nav {
  display: inline-block;
    flex-direction: row !important;   /* what makes link be inline */
      float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  width: 100px !important;
  float: right !important;
}

li a {
  display: block !important;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}


@media (min-width:962px){
    .navbar-expand-lg .navbar-nav{-ms-flex-direction:row; flex-direction:row;}
    .navbar-expand-lg .navbar-nav .nav-link{padding-right:.8rem; float:right;width:100px;
                                            padding-left:.8rem; align-items:center;}

    .navbar-expand-lg .navbar-collapse{display:-ms-flexbox!important;
                                        display:flex!important;
                                        -ms-flex-preferred-size:auto;flex-basis:auto;}
    .navbar-expand-lg .navbar-toggler{display:none}}

/* NAVBAR color */
@keyframes
button.bg-light:hover{background-color:#dae0e5!important}
.bg-dark{background-color: #36726e !important}  a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus
/*var(--CLR_BCKGRND)*/

