:root {
/*    --CLR_BCKGRND: #1e272c*/
    --CLR_BCKGRND: #1b242b;
    /*--CLR_BCKGRND: #1b242b !*CLR BACKGROUND BLACK*!*/
    --ND_DEFAULT: #489892

}

body {
    font-family: sans-serif;
    background-color: var(--CLR_BCKGRND);
}


h6 {margin-top: 0;}

.app__container {margin: 2% 2% 2% 2%;
}



.light-card{
  background-color: #E9EEF6;
  width: 90%;
  margin: 32px auto;
  padding: 24px;
}

#toggleTheme{
    width: fit-content;
    margin: auto;
  }

.app__header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.app__header__title {letter-spacing: 0.23rem;}

.app__header__title--grey {color: #C4CDD5;}

.app__menu__img {height: 60px; width: auto;}

.app__content {display: flex; margin-top: 10px;}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 0px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.graph__title2 {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 16px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
    font-family: "sans-serif";
}


#alignment-body ::-webkit-scrollbar-thumb {
    background-color: #34AD99 !important;
}
#alignment-body .control-upload {
    border-color: #34AD99 !important;
}


.inrow_style{
    display: flex;
    float: end !important;
    margin-left: 50%;
    width: 100%;
    margin-top: 10px
}

.inrow_style_2{
    display: inline-flex;
    float: end !important;
    margin-left: 0%;
    width: 100%;
    margin-top: 0px
}


.info_box {
    color: #fff !important;
    letter-spacing: 0.1rem !important;
    padding: 2px 5px 2px 15px;
    margin-top: -4px;
    display: inline-block;
    font-size: 12px;
    font-family:  "Open Sans", Times, serif !important;
}

.box__title {
    font-family: "Open Sans", Times, serif !important;
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 2px 15px 2px 15px;
    margin-bottom: 1px;
    font-size: 0.8em;
}

.box__title2 {
    font-family: "Open Sans", Times, serif !important;
    color: #7e95cc !important;
    letter-spacing: 0.3rem !important;
    padding: 2px 15px 2px 15px;
    margin-bottom: -1px;
    font-size: 12px;
    align-items: center;
    text-align: center;
    justify: center;
    align: center
}


.info__container {
    background-color: #40515E;
    border-radius: 0.55rem;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    margin-bottom: 6px !important;
}

.info__container2 {
    background-color: #40515E; /*#5d6d95;*/
    border-radius: 0.55rem;
    display: inline-block;
    line-height:1.2em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    margin-left: 15px;
    margin-bottom: 0px !important;
}

.__footer {
    color: #9d9d9d !important;
    /*letter-spacing: 0.1rem !important;*/
    /*padding: 25px 25px 0px 25px;*/
    /*padding-bottom: -35px !important;*/
    font-size: 12px;
    font-family: "sans-serif" !important;
}
.slider {padding: 15px;}

.auto__checkbox {margin-right: 10px;}

.auto__label {color: #DFE3E8;}

.auto__container {
    display: flex;
    justify-content: space-between;
    color: #DFE3E8;
    padding: 0px 15px;
}

.auto__p {margin-bottom: 0;}

.graph__container {
    background-color: #bacedd; /* #87a5bb */
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.markdown_style{
    color:white;
    padding-left:3%;
    padding-right:3%;
    font-size: medium;
    font-weight: lighter;
    font-family:sans-serif
}

.markdown_style_black{
    color:black;
    padding-left:3%;
    padding-right:3%;
    font-size: medium;
    font-weight: lighter;
    font-family:sans-serif
}


.data__container {
    background-color: #40515e;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.first {margin-bottom: 15px;}

.second {margin-top: 15px;}


@media only screen and (max-width: 600px) {

    .app__content {display: block;}
    .app__menu__img { height: 20px; width: auto; }
    .app__header { display: flex; flex-direction: column;padding-top: 0px;  }
    .app__header__desc { order: 1; text-align: left; }
    .app__header__logo {order: 0;}
    .app__header__title { font-size: 1.5em; padding-top: 11px; }
}

.graph__title {
    color: #fff !important;
    letter-spacing: 0.3rem !important;
    padding: 0px 25px 25px 25px;
    margin-bottom: 0px !important;
    font-size: 10px;
}


.export{
    position: absolute;
    left: 1%;
    font-type: sans-serif;
    color: #FFFFFF;
}


.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  /*border-color: --CLR_BCKGRND; */
}

.tab-content{
    background-color: #5c7780; /*#6a868f; !*#3d515e*!*/
    color: #0a0909;
    padding:5px;
}


/*div.Select–single>.Select-control .Select-value,*/
.Select-placeholder {
    /*color: --CLR_BCKGRND; */
    /*background: #394046;*/
    #background-image: linear-gradient(#484e55, #3A3F44 60%, #313539);
    left: 0;
    line-height: 20px;
    padding-left: 14px;
    padding-right: 10px;
    padding-top:5px;
    right: 0;
    top: 0px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    align-items: center;
}

/*#graph-layout-dropdown .VirtualizedSelectFocusedOption {*/
/*    background-color: #909898;*/
/*    position: absolute;*/
/*    color: white;*/
/*    padding-bottom:20px;*/
/*    left: 0;*/
/*}*/


#graph-layout-dropdown .Select-value {
    background-color: #808484;
    position: absolute;
    color: white;
    padding-bottom:10px;
    padding-top:10px;
    left: 0;
}

/*.Select-arrow { --accent: #1b58e2; }*/


#node-size-dropdown .Select-value {
    background-color: #808484;
    position: absolute !important;
    color: white;
    padding-bottom:10px !important;
    padding-top:10px !important;
    left: 0 !important;
}

#node-color-dropdown .Select-value {
    background-color: #4c5353;  /*#808484;*/
    position: absolute;
    color: white;
    padding-bottom:10px;
    padding-top:10px;
    left: 0;
}

.tapEdgeData-fig-class {

    /*padding-bottom:10px;*/
    /*padding-top:20px;*/
}


.Select--single>.Select-control .Select-value, .Select-placeholder
{
    line-height: 17px;
    background: #95a5a6;
}

.wrapper {
        border: 2px dotted rgb(96, 139, 168);
        width: 500px;
      }
    .box {

        /*display: flex;*/
        flex-wrap: wrap;
        margin:-5px;
      }
      .box>* {
        flex: 1 1 160px;
        margin: 10px;
      }



.selectbox {
-webkit-appearance: none;
position: relative;
display: inline-block;
*display: inline;
zoom: 1;
margin-right: 20px;
color:white;
right:10px;
border:none;
/*border: 1px solid #cccccc;*/
/*background: none  repeat scroll 0 0 #ffffff;*/
background: none;
min-width: 60px;
max-width:100px;
width: auto;

}

.selectbox .Select-arrow { --accent: black;
                            --background-image: linear-gradient(#3d912a, #3A3F44 60%, #313539);
}


.selectbox select {
z-index: 10;
position: relative;
border: none;
background: none;
outline: none;
opacity: 0;
height: 27px;
-webkit-appearance: none;
filter: alpha(opacity=0);
width: 100%;
cursor: pointer;

}



img:hover {
    background-color: #867270; /*inverse of #798d8f*/
    border-radius: 10px;
    filter: invert();
}


.switch {
  position: relative;
  display: inline-block;
  width: 3.75em;
  height: 2.125em;
}

#league_table .export{
    position: absolute;
    top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    line-height: 1.3;
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
    font-size: 11px;
    font-type: sans-serif;
    font-weight: 900;
    [...]
}


#consistency-table .export{
    position: absolute;
    white-space-collapsing: discard;
    margin-top: -5.7%;
    margin-left: 48%;
    line-height: inherit;
    padding:  10px 4px 0px 4px;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    font-type: sans-serif;
    font-weight: 900;
    justify-content: flex-end;
    display: flex;
    [...]
}

#netsplit_table-container .export{
    position: absolute;
    margin-top: -5.7%;
    margin-left: 68%;
    /*margin-bottom: 5px;*/
    line-height: inherit;
    padding:  10px 4px 0px 4px;
    /*text-align: center;*/
    /*vertical-align: middle;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 10px;
    font-type: sans-serif;
    font-weight: 900;
    justify-content: flex-end;
    display: flex;
    [...]
}


#datatable-upload-container .export{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 3px;
    line-height: 1.3;
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
    font-size: 10px;
    font-type: sans-serif;
    font-weight: 800;
    [...]
}

@media screen and (min-width: 0px) {
  html {
    --gap: calc(10px + (40 - 10) * (100vw - 0px) / (1200 - 0));
  }
}

#dd_nclr_input .dropdown-menu {
:not(.dropdown-item)
}


.rc-slider-track {
  background-color: #475684;
  border-color: black;
  /*border: 0.05px solid #010101;*/
}

.rc-slider-handle {
  background-color: #475684;
  border-color: #751226;
      cursor: pointer;

}
.rc-slider-handle:hover {
  border-color: #96dbfa;
}
.rc-slider-handle-active:active {
    border-color: #475684;

}
.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 11px;
  line-height: 1;
  color: #060505;
  text-align: center;
  text-decoration: none;
  background-color: #e1e0e0;
  border-radius: 6px;
  box-shadow: 0 0 0px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #e1e0e0;
}

.rc-slider-dot-active {
  border-color: #1a5dae;
  border: solid 5px #475684;
  background-color: #475684;
}

.rc-slider-dot {
  position: relative;
  top: -10px;
  width: 0.001px !important;
  height: 1px !important;
  /*border: 0.01px solid #7e95cc;*/
  /*background-color: #7e95cc;*/
  border: none;
  /*background-color: none; */
  cursor: pointer;
  /*border-radius: 100%;*/
  vertical-align: middle;
}


.rc-slider-dot:first-child {
  position: absolute;
  top: -2px;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: solid 5px #475684;
  background-color: #475684;
}


.rc-slider-dot:last-child {
  position: absolute;
  top: -2px;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: solid 5px #475684;
  background-color: #475684;
}

/*.modal-footer {*/
/*        display: block;*/
/*        -webkit-box-pack: inherit;*/
/*        -webkit-justify-content: inherit;*/
/*        -ms-flex-pack: inherit;*/
/*        justify-content: inherit;*/
/*    }*/
    .btn-export {
        float: left;
        /*-webkit-justify-content: left; */
        justify-content: left;
    }

    .btn-export2 {
        float: right;
        -webkit-justify-content: left;
        justify-content: left;
        display: inline-block;
        font-size: 0.9em;

    }

.reset{
    display: inline-block;
    font-size: 1.03em;
    padding: 0wpx 0px 0px 0px;
    margin-left: 4px;
    color: #607383;
    border: var(--CLR_BCKGRND);

}







/* FOR NAVBAR */
@media (min-width:1200px){
    .container,.container-lg,.container-md,.container-sm,
    .container-xl{max-width:1240px; margin-top:1%}}
.row{
    /*display:-ms-flexbox;
    display:flex;*/
     display: inline-flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap; padding-top:5px;
 }

@media (prefers-reduced-motion:reduce){
.custom-control-label::before,
.custom-file-label,.custom-select{transition:none}}

.navbar{display: flex;
        align-items: center;
        width: 100%;
        /*justify-content: space-between;*/
      /*justify-content: flex-end;*/
}

.navbar .navbar-nav{
            display:flex;
            flex-direction: row !important;   /* what makes links be inline */
            list-style:none;
            float:end;
            /*margin-left:50%*/
}

ul {
  list-style-type: none;

    padding-left: 40px;

    min-width: 100px;
    color:white;
     white-space: nowrap;
  text-align: left;
}

li {
    font-size: 14px;
      width: 130px !important;
    margin-left: 20px;
 }

/*li {*/
/*  width: 130px !important;*/
/*  float: end !important;*/
/*    background-position: 100% .4em;*/
/*    padding-right: .6em;*/
/*    padding-top: .4em;*/
/*    text-align:center;*/
/*    !*text-wrap: avoid;*!*/
/*    !*margin-left: auto !important;*!*/
/*}*/


li a {
  /*display: block !important;*/
  color: white;
  text-align: center;
  padding: 10px 10px;
  padding-top: .4em;
  text-decoration: none;
}
.child {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    justify-content: flex-start;
    /*align-items: stretch;*/
}

.child.child-right {
    flex-grow: 1;
    justify-content: flex-end;
}


@media (min-width:962px){
    .navbar-expand-lg .navbar-nav{-ms-flex-direction:row; flex-direction:row;}
    .navbar-expand-lg .navbar-nav .nav-link{padding-right:.8rem; float:right;width:100px;
                                            padding-left:.8rem;
        /*align-items:right !important*/
    }

    .navbar-expand-lg .navbar-collapse{
                                        /*display:-ms-flexbox!important;*/
                                        /*display:flex!important;*/
                                        -ms-flex-preferred-size:auto;flex-basis:auto;}
    .navbar-expand-lg .navbar-toggler{display:none}}

/* NAVBAR color */
/*@keyframes*/
/*button.bg-light:hover{background-color:#dae0e5!important}*/
/*.bg-dark{background-color: var(--CLR_BCKGRND) !important}  a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus*/
/*var(--CLR_BCKGRND)*/
/* #36726e color green as nodes */

/*.html2canvas-container { width: 3000px !important; height: 3000px !important; }*/


/*        SCROLLBAR    */


:root{
  --ECB-blue: #475684;
  --backgroud-scrollbar: rgba(206, 206, 206, 0);
}

.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  background: var(--backgroud-scrollbar);
  overflow: hidden;
  margin-bottom: 25px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.force-overflow
{
  min-height: 450px;
}

#wrapper
{
  text-align: center;
  width: 500px;
  margin: auto;
}


/*
*  STYLE IT
*/

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px var(--backgroud-scrollbar);
  background-color: var(--backgroud-scrollbar);
}

body::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
  display: none;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}


body::-webkit-scrollbar-thumb
{
  background-color: var(--ECB-blue);
}

div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px var(--backgroud-scrollbar);
  background-color: var(--backgroud-scrollbar);
}

div::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar-thumb
{
  background-color: var(--ECB-blue);
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}














/*.scrollbar*/
/*{*/
/*  margin-left: 30px;*/
/*  float: left;*/
/*  height: 300px;*/
/*  width: 65px;*/
/*  background: #F5F5F5;*/
/*  overflow-y: scroll;*/
/*  margin-bottom: 25px;*/
/*}*/

/*.force-overflow*/
/*{*/
/*  min-height: 450px;*/
/*}*/

/*#wrapper*/
/*{*/
/*  text-align: center;*/
/*  width: 500px;*/
/*  margin: auto;*/
/*}*/


/*!**/
/* *  STYLE 2*/
/* *!*/



/*.datatable-upload-container_row::-webkit-scrollbar-track*/
/*{*/
/*  -webkit-box-shadow: inset 0 0 6px rgba(184, 21, 21, 0.3)!important;*/
/*  border-radius: 10px!important;*/
/*  background-color: #db5050!important;*/
/*}*/

/*.datatable-upload-container__row::-webkit-scrollbar*/
/*{*/
/*  width: 12px!important;*/
/*  background-color: #895252!important;*/
/*}*/

/*.datatable-upload-container__row::-webkit-scrollbar-thumb*/
/*{*/
/*  border-radius: 10px!important;*/
/*  -webkit-box-shadow: inset 0 0 6px rgb(20, 96, 242)!important;*/
/*  background-color: #D62929!important;*/
/*}*/

